table{
	width: 100%;
}

.card,.btn-sm{
	margin-bottom: 5%;
}

.footer{
	position: static;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
	text-align: center;
	margin-top: 12%;
}

body{
	font-family: Calibri;
	/*background-color: #caceba;*/
	background: url('http://localhost/doctorcare/assets/pic/background/BgUtama1.jpg') no-repeat center;
}

#Fixednavbar{		/*fixed navbar yang ada di atas*/
	background-color: #f6fdde;
	margin: auto;
	width: 95%;
}

#logodc{			/*logo docter care yang di kiri atas */
	width: 7%;
	height: 7%;
	filter: brightness(100%);
	margin-left: 40px;
}

#header{			/*div tulisan "selamat datang,..."*/
	background-color: #39aea9;
	/*background-image: linear-gradient(#a32c38,#c47974);*/
}

#pict{				/*pict yang pilihan buat jadwal, lihat dll di menu utama*/
	width:307.2px;
	height:205.2px;
	border: 2px solid white;
}

.body{
	min-height: 100vh;
	background: url('http://localhost/doctorcare/assets/pic/background/bg2.jpg') no-repeat center;
}
#LoginForm{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: url('http://localhost/doctorcare/assets/pic/background/bg1.jpg') no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	border-radius: 5px;
	padding: 30px;
	text-align: center;
	width: 512px;
}
